header {
  display: flex;
  padding: 2rem 3rem;
  a {
    margin-right: auto;
  }
  .navlink-wrapper {
    display: none;
    a {
      margin-right: 2rem;
    }
  }
  .navlink-mobile-wrapper {
    display: flex;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}

.left-container {
  flex: 2;
}

// xs devices
@media (max-width: 576px) {
}

// small devices
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  header .navlink-wrapper {
    display: flex;
  }
  header .navlink-mobile-wrapper {
    display: none;
  }
  main {
    flex-wrap: nowrap;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
